body {
  margin: 20px;
  text-align: center;
}

select-button {
  background-color: #ffbc05; /* Green */
  border: none;
  color: white;
  padding: 32px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
}
.SelectButton {
  float: left;
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #000000;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  transition-duration: 0.4s;
}
.SelectButton:hover {
  background-color: #ff3f05; /* Green */
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(-7px);
}
.SelectButton:active {
  background-color: #5e2919;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition-duration: 0.05s;
}
.infoPanel {
  font-size: 22px;
}
.Table{
  background-color: #008CBA;
}
.TableRow {
  font-size: 13px;
  background-color: #008CBA;
  color: #008CBA;
}
.TableLine {
  font-size: 15px;
  background-color: #414141;
  color: #ececec;
  font-weight: bold;
  border-radius: 12px;
  padding: 18px 8px;
}
.TableLine:hover {
  font-size: 18px;
  background-color: #15143b;
  color: #ececec;
  font-weight: bold;
  border-radius: 12px;
  padding: 18px 8px;
  transform: translateY(4px);
  transition-duration: 0.05s;

}
