body {
  margin: 20px;
  text-align: center;
  background-color: #252525;
  color: #ffffff;
  font-weight: bolder;
}

select-button {
  background-color: #252525; /* Green */
  backdrop-filter: transparent;
  border: 6px solid #ffe600;
  border-radius: 1px;
  color: white;
  padding: 32px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  
  background: linear-gradient(to Top, #05ffc1, #21e5ff), no-repeat center;
  background-size: cover;
  background-size: 97% 97%;
  mask-image: url(./images/bi_1.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 99% 99%;
  mask-clip: url(./images/bi_1i2.png);
  
}
.SelectButton {
  float: left;
  background-blend-mode: normal;
  
  background-color: #008CBA; /* Green */

  background-size: cover;
  background-size: 100% 100%;
  mask-image: url(./images/bi_11.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 99% 99%;
  mask-clip: url(./images/bi_1i2.png);

  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  border-radius: 0px;
  border: 2px solid #81f5e1;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  transition-duration: 0.4s;
}

.SelectButton:hover {
  background-color: #ff3f05; /* Green */
  color: white;

  border: 2px solid #f5ff65;
  mask-size: 99% 99%;
  mask-clip: url(./images/bi_1i2.png);

  box-shadow: 0 8px #272626;
  transform: translateY(-7px);
}
.SelectButton:active {
  background-color: #5e2919;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition-duration: 0.05s;
}
.infoPanel {
  font-size: 22px;
 
}

.searchBox{
  align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  display: inline-block;
}
.Table{
  border-radius: 15px;
  border: 4px solid #000000;
  background: url('./images/BG_BW.png');
  background-color: #ff4c96;
  background-repeat: repeat;
  background-blend-mode: multiply;

}
.TableRow {
  font-size: 20px;
  color: #0c0c0c;
  font-weight: bolder;
  background-color: #58a1b9;
  background: linear-gradient(to Top, #31eee4, #00ffbf), no-repeat center;

}

.TR-1{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 6, 8px;
  

}

.trc-1 {
  border-radius: 0px;
  /* border: 3px solid #adf5d1; */
  
  background: linear-gradient(to Top, #e4f82b, #ff2121), url('./images/C_UI6.png'), no-repeat center;
  /* background-image: url('./images/C_UI6.png'); */


  background-size: cover;
  background-size: 97% 97%;
  background-repeat: no-repeat;
  background-position: center;

  background-blend-mode: multiply;
  
  width: 90%;
}
.trc-1:hover {
  background: linear-gradient(to Top, #32f82b, #21ffe1), url('./images/C_UI6.png'), no-repeat center;
  background-size: cover;
  background-size: 97% 97%;
  background-repeat: no-repeat;
  background-position: center;

  background-blend-mode: multiply;
  
  width: 90%;
}

.trc-T{
  /* background-color: #000000; */
  font-weight: bolder;
  font-size: x-large;

  background: linear-gradient(to Right, #e4f82b, #ff0303), url('./images/C_UI7.png');
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;

  
  width: 70%;
  margin-left: 15%;

  mask-image: url('./images/C_UI7_mask.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;


  mask-clip: content-box;

  /* Combinação da imagem e do gradiente */ 
  background-blend-mode: multiply;


  text-align: center;

}
.trc-L{
  display: inline-flex;
  flex-direction: column;
  border-radius: 0px;
  border: 0px solid #132236;

  background: linear-gradient(to Right, #2ba6f8, #8e03ff), url('./images/C_UI8.png');
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;

  mask-image: url('./images/C_UI8_mask.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;

  background-blend-mode: multiply;

  white-space: pre-line;
  text-align: left;
  font-size: larger;
  text-align: justify;
  align-items: center; /* Alinha os itens à esquerda */
  

  width: 65%;
  

  text-align: center;
}

.trc-T:hover,
.trc-L:hover {

  animation: piscar 1s infinite;

}

@keyframes piscar 
{ 0% {
  opacity: 1;
  background-blend-mode: screen;

  } 50% {
  opacity: 1;
  background-blend-mode: color;
  } 100% {
  opacity: 1;
  background-blend-mode: screen;
 } 
}



/* .TableRow:hover {
  font-size: 20px;
  background-color: #15143b;
  background: linear-gradient(to Top, #15143b, #361d57), no-repeat center;

  color: #ececec;
  border-radius: 22px;
  transition-duration: 0.05s;
  padding: 16px 4px;

}

.TableLine {
  font-weight: bolder;
  border-radius: 16px;
  padding: 18px 8px;
  border: 3px solid #132236;

}
.TableLine:hover {
  background-color: #e04102;
  color: #0a0a0a;

  font-weight: bold;
  border-radius: 16px;
  border: 4px solid #d3d3d3;
  padding: 18px 8px;
  transform: translateY(4px);
  transition-duration: 0.05s;

}


.TableCP{
  background-color: #05ffc1;
  align-self: center;
  text-align: center;
  padding: 8px;
  width: 50%;
  height: 50%;
  border-radius: 4px;
  display: inline-block;
  
} */

.CLX{
  font-weight: bold;
  
}
.CLX-T{
  background-color: #20132e;
}
.CLXLine-T{
  background-color: #4d387c;
  white-space: pre-line;
  text-align: left;
  border-radius: 5px;
  border: 2px solid #132236;
  font-size: larger;


  /* imaggem de fundo */
  background: linear-gradient(to Right, #0f5d91, #790873), url('./images/S_UI6.png');
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;

  /* mask-image: url('./images/S_UI6_Mask.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%; */
  image-rendering: pixelated;

  background-blend-mode: multiply;

  text-indent: 3em; /* Desloca o texto 3 caracteres para a direita */

  /* imagem de fundo end */

}
.CLX-End{
  background-color: #deff4c;
  border-radius: 2px;
  border: 4px solid #464d3f;
}
.CLXLine{
  align-self: center;
  background-color: #a04cff;
  font-weight: bolder;
  border-radius: 0px;
  padding: 16px 32px;
  border: 0px solid #132236;
  width: 60%;
  margin-left: 15%;

  /* imaggem de fundo */
  background: linear-gradient(to Right, #4d19c9, #ff03b3), url('./images/S_UI3.png');
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;

  mask-image: url('./images/S_UI3_mask.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;

  background-blend-mode: multiply;

  /* imagem de fundo end */
}
.CTN{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.CTNT{
  width: 95%;
  height: 95%;
  background-color: #00ffbf;
  align-items: center;
  justify-content: center;



   /* imaggem de fundo */
   background: linear-gradient(to Top, #e4f82b, #de7bf1), url('./images/BG2.jpg');
  
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-size: 100% 100%;
 
   /* mask-image: url('./images/S_UI1_mask.png');
   mask-repeat: no-repeat;
   mask-position: center;
   mask-size: 100% 100%; */
 
   background-blend-mode: color;
 
   /* imagem de fundo end */

  margin-left: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;

  border:3px, solid #ddfa38;
}
.CLX-Ico{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  max-height: 128px;
  width: 128px;
  height: 128px;
  /*padding: 1px 8px;*/
  border-radius: 0px;
  border: 0px solid #132236;
  background-color: #a04cff;


  /* imaggem de fundo */
  background: linear-gradient(to Right, #4d19c9, #ff03b3), url('./images/S_UI1.png');
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;

  mask-image: url('./images/S_UI1_mask.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;

  background-blend-mode: multiply;

  /* imagem de fundo end */
}

.ELX{
  font-weight: bold;

}
.ELX-T{
  background-color: #20132e;
}
.ELXLine-T{
  background-color: #4d387c;
  white-space: pre-line;
  text-align: left;
  border-radius: 5px;
  border: 2px solid #132236;
  font-size: larger;

  


  
}
.ELX-End{
  
  border-radius: 0px;
  border: 0px solid #464d3f;

  /* imaggem de fundo */
  background: url('./images/C_UI5.png');
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;

  background-color: #deff4c;

  mask-image: url('./images/C_UI5I.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;

  background-blend-mode: multiply;

  height: 40px;
  width: 100%;

  /* imagem de fundo end */
}
.ELXLine{
  display: inline-block;
  background-color: #a04cff;
  font-weight: bolder;
  border-radius: 0px;
  padding: 16px 32px;
  border: 0px solid #132236;



   /* imaggem de fundo */
   background: linear-gradient(to Right, #2ba6f8, #8e03ff), url('./images/S_UI2.png');
  
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-size: 100% 100%;
 
   mask-image: url('./images/S_UI2_mask.png');
   mask-repeat: no-repeat;
   mask-position: center;
   mask-size: 100% 100%;
 
   background-blend-mode: multiply;
 
   /* imagem de fundo end */


}
.ELXLine-E{
  background-color: #a04cff;
  font-weight: bolder;
  border-radius: 0px;
  padding: 16px 32px;
  border: 0px solid #132236;



   /* imaggem de fundo */
   background: linear-gradient(to Right, #2ba6f8, #8e03ff), url('./images/S_UI3.png');
  
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-size: 100% 100%;
 
   mask-image: url('./images/S_UI3_mask.png');
   mask-repeat: no-repeat;
   mask-position: center;
   mask-size: 100% 100%;
 
   background-blend-mode: multiply;
 
   /* imagem de fundo end */
}
.ETN{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.ELX-Ico{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  max-height: 128px;
  width: 128px;
  height: 128px;
  /*padding: 1px 8px;*/
  border-radius: 8px;
  border: 2px solid #132236;
  background-color: #a04cff;


  /* imaggem de fundo */
  background: linear-gradient(to Right, #2ba6f8, #8e03ff), url('./images/S_UI1.png');
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;

  mask-image: url('./images/S_UI1_mask.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;

  background-blend-mode: multiply;

  /* imagem de fundo end */

}

.CalcUI{
  background-color: #ff4c96;
  border: 8px solid #132236;
  color: #d3d3d3;
  font-weight: bolder;
  border-radius: 20px;
  display: inline-block;

}

.CalcIn{
  background-color: #1e2125;
  padding: 12px;
  size: 16px;
  text-align: center;
  font-weight: bolder;
  border-radius: 8px;
  border: 2px solid #000000;
  margin: 4px;
  margin-top: 1px;
  margin-bottom: 1px;

  background-size: cover;
  background-size: 100% 100%;
  mask-image: url(./images/bi_11.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 99% 99%;
  mask-clip: url(./images/bi_1i2.png);

}

input[class=CalcIn]{
  color: #d9ff00;
  font-weight: bolder;
}

input[class=CalcIn]:hover{
  color: #d9ff00;
  font-weight: bolder;
  border: 2px solid #d3d3d3;
}

input[class=CalcIn]:active{
  background-color: #d9ff00;
  color: #000000;
  font-weight: bolder;
  border: 2px solid #d3d3d3;
}

.CalcB{
  background-color: #00ffb3; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding: 8px 8px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #ff0000;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  transition-duration: 0.4s;
  margin: 3px;

  background-size: cover;
  background-size: 98% 98%;
  mask-image: url(./images/bi_11.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 99% 99%;
  mask-clip: url(./images/bi_1i2.png);
}
.ResultTex{
  font-size: 22px;
  font-weight: bolder;

}
.CalcB:hover{
  background-color: #fbff09; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding: 8px 8px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #ff0000;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  transform: translateY(-6px);
  transition-duration: 0.4s;
}
.CalcB:active{
  background-color: #070707; /* Green */
  border: none;
  color: #ececec;
  font-weight: bolder;
  padding: 8px 8px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #e7e7e7;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  transform: translateY(4px);
  transition-duration: 0.05s;
}